[Unit]
Description=Mount external Hardrive
After=network.target

[Mount]
What=LABEL=ROOT
Where=/mnt/hardrive
Type=auto
Options=defaults,noauto,x-systemd.automount

[Install]
WantedBy=multi-user.target
