[Unit]
Description=Picom compositor
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=/usr/bin/picom
Restart=on-failure
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
