[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:Luis-Henriquez-Perez/.emacs.d.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/Luis-Henriquez-Perez/awesome
